*{
    position: absolute;
    margin:0%;
}
html,body{
    position:fixed;
    width:100%;
    height:100%;
}
#canvas{
    border:0.1vw solid #555;
    width:20vw;
    height:35vw;
    left:42%;
    top:7%;
}