
html,body{
    width:100%;
    height:100%;
}
#add{
    width:30vh;
    height:30vh;
    border:solid #000 1px;
    background-color: #eee;
}
#thumbnail{
    width:100%;
    height:100%;
}
#by{
    position: relative;
    left:80%;
    top:0%;
    background-color:chocolate;
    width:3vh;
    height:3vh;
}
#close{
    position: relative;
    left:90%;
    top:-10%;
    background-color:chocolate;
    width:3vh;
    height:3vh;
}
#feedback{
    width:100%;
    height:100%;
    position: relative;
    top:-100%;
    background-color:blueviolet;
    z-index:3;
    display:none;
}
#back{
    position: relative;
    left:0%;
    top:0%;
    background-color:chocolate;
    width:3vh;
    height:3vh;
}

#adds_setting{
    position: relative;
    left:55%;
    top:17%;
    background-color:chocolate;
    width:10vh;
    height:4vh;
}
#choice{
    position: relative;
    left:10%;
    top:30%;
    background-color:chocolate;
    width:10vh;
    height:4vh;
}


#hide_content{
    position: relative;
    left:3%;
    top:3%;
    background-color:chocolate;
    width:7vh;
    height:4vh;
}
#unsuitable{
    position: relative;
    left:30%;
    top:-10%;
    background-color:chocolate;
    width:7vh;
    height:4vh;
}
#see_again{
    position: relative;
    left:55%;
    top:-23%;
    background-color:chocolate;
    width:7vh;
    height:4vh;
}
#not_interested{
    position: relative;
    left:74%;
    top:-37%;
    background-color:chocolate;
    width:7vh;
    height:4vh;
}
